<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAffichageService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IAffichageService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryExe2/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAffichageService"
                contract="ServiceReference.IAffichageService" name="BasicHttpBinding_IAffichageService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceLibraryExe2/Service1/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IAffichageService"
                contract="ServiceReference.IAffichageService" name="MetadataExchangeHttpBinding_IAffichageService" />
        </client>
    </system.serviceModel>
</configuration>